@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.background_top{
  background-image: url('./assets/wow_bg2.jpg');
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}

.background_top-overlay{
  background: radial-gradient(circle, rgba(30, 27, 44, 0.877) 0%, rgba(44, 35, 27, 0.918) 100%);
  width: 100%;
  height: 100%;
}


:root{
  --width-app: 60vw;
  --background-color:#2F2322;
}

@media(max-width: 1500px){
  :root{
    --width-app: 80vw;
  }
}
@media(max-width: 1200px){
  :root{
    --width-app: 95vw;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e15f2c;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b44d24;
}

/*HEADER*/

.header_app{
  /* position: sticky;
  top: 0; */
  z-index: 99999;
}

.header_app.active{
  background-color: var(--background-color);
}

.header_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width-app);
  margin-inline-start: auto;
  margin-inline-end: auto;
  height: 100px;
}

.header_title_link{
  text-decoration: none;
}

.header_title{
  color: #e15f2c;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.header_title img{
  width: 40px;
  margin-right: 10px;
}

.header_nav{}


.header_nav a{
  color: #ffffff21;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
}

.wow{
  background-color: #e15f2c;
  color: white !important;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.2s;
  font-size: 16px !important;
}

.wow:hover{
  background-color: #b44d24;
}

.header_nav a.active{
  color: #e15f2c;
}

.header_menu_button{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(#F9FBF8, #B1DFF9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  border: none;
  outline: none;
  padding-top: 10px;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

@media(max-width: 1000px){
  .header_menu_button{
    display: flex;
  }

  .header_nav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1e1b2c;
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header_nav.active{
    display: flex;
  }

  .header_nav.active a{
    margin: 0;
    font-size: 25px;
    margin: 10px 0;
  }
}

/*HEADER*/


/*MAIN*/

.main_app{
  width: var(--width-app);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 40px 0;
}

/*MAIN*/


/*HOME*/

.home_player{
  margin-bottom: 40px;
}

.player_title{
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.player_title::after{
  content: "";
  height: 2px;
  width: 100%;
  right: 0;
  background-color: #e15f2c;
  display: block;
  margin-left: 20px;
}
.player_title::before{
  content: "";
  height: 2px;
  width: 100%;
  right: 0;
  background-color: #e15f2c;
  display: block;
  margin-right: 20px;
}

.player_list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  list-style: none;
}

@media(max-width: 1000px){
  .player_list{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 700px){
  .player_list{
    grid-template-columns: repeat(1, 1fr);
  }
}

.player_list a{
  text-decoration: none;
  position: relative;
}

.player_list a:hover li{
  box-shadow: 0 0 5px #e15f2c;
}

.player_list li{
  transition: 0.2s;
  height: 500px;
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-radius: 10px; */
}

.player_details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player_details p{
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.player_details.race p{
  font-size: 18px;
}

.player_level{
  color: white;
  font-size: 20px;
  border-radius: 100px;
}

.player_ilevel{
  display: flex;
  align-items: center;
}

.player_ilevel i{
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 2px;
}


/*HOME*/


/*ELVUI*/

.elvui_text{
  width: 100%;
  height: 500px;
  padding: 20px;
  outline: none;
  font-size: 16px;
  resize: none;
  background-color: #0000003a;
  border: none;
  /* box-shadow: 0 0 5px #b44d24; */
  /* border-radius: 10px; */
  margin-bottom: 40px;
  color: rgb(172, 172, 172);
}

/*ELVUI*/


/*ICYVEINS*/

.icy_list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media(max-width:1000px){
  .icy_list{
    grid-template-columns: repeat(1, 1fr);
  }
}

.icy_list li{
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.icy_list li span{
  display: flex;
  margin-right: 20px;
  /* border-radius: 10px; */
  overflow: hidden;
  min-width: 50px;
  width: 50px;
}

.icy_list li span img{
  min-width: 50px;
  width: 50px;
}

.icy_list li a{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 20px 20px 20px 0;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.icy_list li:hover{
  background-color: #36363669;
  background: rgb(54,54,54);
  background: linear-gradient(90deg, #e15f2c2f 0%, rgba(93,255,0,0) 85%);
}

.icy_list li:hover a{
  padding-left: 20px;
}

/*ICYVEINS*/

/*RAIDER*/

.raider_form{
  display: flex;
  flex-direction: column;
}

.raider_form:valid button{
  display: block;
}

.form_title{
  color: #e15f2c;
  font-size: 25px;
  margin-bottom: 20px;
}

.raider_form input, .raider_form select{
  height: 50px;
  border: none;
  outline: none;
  background-color: var(--background-color);
  box-shadow: 0 0 5px #e15f2c;
  border-radius: 5px;
  font-size: 20px;
  padding: 0 10px;
  color: white;
  margin-bottom: 15px;
  appearance: none;
}

.raider_form select option{
  font-size: 20px;
}

.raider_form label{
  color: #e15f2c;
  margin-bottom: 10px;
  font-size: 18px;
}

.raider_form button{
  padding: 10px 0;
  background-color: #e15f2c;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  display: none;
}

.raider_search{
  list-style: none;
  margin-top: 40px;
}

.raider_search li{
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: 0.2s;
}

.raider_search li:hover{
  box-shadow: 0 0 5px #e15f2c;
}

.raider_search li a{
  display: flex;
  align-items: center;
  color: #e15f2c;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
}

.raider_search li a img{
  width: 40px;
  margin-right: 20px;
}

.back_button{
  color: #e15f2c;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.back_button:hover{
  color: white;
}

.back_button i {
  margin-right: 10px;
}

/*RAIDER*/


/*TODOO*/

.todoo_form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.todoo_form input{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background-color: var(--background-color);
  box-shadow: 0 0 3px #e15f2c;
  border-radius: 5px;
  font-size: 16px;
  padding: 0 10px;
  color: white;
  appearance: none;
  margin-bottom: 20px;
}

.todoo_form button{
  padding: 0 40px;
  height: 50px;
  background-color: #e15f2c;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.todoo_form button:hover{
  background-color: #b44d24;
}

.todoo_list{
  margin-top: 20px;
}

.todoo_list li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: rgba(75, 111, 207, 0.473);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  transition: 0.2s;
}

.todoo_list li a{
  color: #58b4ff;
  text-decoration: none;
}

.todoo_list li a:hover{
  text-decoration: underline;
}

.todoo_list li.active{
  background-color: rgba(75, 207, 93, 0.473);
}

.todoo_list li button{
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  border-radius: 5px;
  margin-left: 10px;
}

.todoo_list li button:hover{
  background-color: #1e1b2c79;
  color: rgb(255, 106, 106);
}

.lidiv_button{
  display: flex;
  align-items: center;
}

/*TODOO*/