@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Texturina', serif;
}

.background_top{
  background-image: url('https://bnetcmsus-a.akamaihd.net/cms/content_entry_media/8CWRD8QS6L2G1589912849876.jpg');
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}

.background_top-overlay{
  background: radial-gradient(circle, rgba(30, 27, 44, 0.877) 0%, rgba(30,27,44,1) 100%);
  width: 100%;
  height: 100%;
}


:root{
  --width-app: 60vw;
  --background-color:#1e1b2c;
}

@media(max-width: 1500px){
  :root{
    --width-app: 80vw;
  }
}
@media(max-width: 1200px){
  :root{
    --width-app: 95vw;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2C91E1;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2373b4;
}

/*HEADER*/

.header_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--width-app);
  margin-inline-start: auto;
  margin-inline-end: auto;
  height: 100px;
}

.header_title{
  background: -webkit-linear-gradient(#F9FBF8, #B1DFF9);
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_nav{}


.header_nav a{
  color: #2c90e19f;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
}

.header_nav a.active{
  color: #2C91E1;
}

/*HEADER*/


/*MAIN*/

.main_app{
  width: var(--width-app);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 40px 0;
}

/*MAIN*/


/*HOME*/

.home_player{
  margin-bottom: 40px;
}

.player_title{
  color: #2C91E1;
  margin-bottom: 20px;
}

.player_list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  list-style: none;
}

@media(max-width: 1000px){
  .player_list{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 700px){
  .player_list{
    grid-template-columns: repeat(1, 1fr);
  }
}

.player_list a{
  text-decoration: none;
  position: relative;
}

.player_list a:hover li{
  box-shadow: 0 0 10px #2c91e1;
}

.player_list li{
  transition: 0.2s;
  height: 500px;
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.player_details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player_details p{
  color: white;
  font-size: 20px;
  margin-bottom: 0px;
}

.player_level{
  color: white;
  font-size: 20px;
  border-radius: 100px;
}
/*HOME*/


/*ELVUI*/

.elvui_text{
  width: 100%;
  height: 500px;
  padding: 20px;
  outline: none;
  font-size: 16px;
  resize: none;
  background-color: var(--background-color);
  border: none;
  box-shadow: 0 0 5px #2c90e141;
  /* border-radius: 10px; */
  margin-bottom: 40px;
  color: white;
}

/*ELVUI*/


/*ICYVEINS*/

.icy_list{
  list-style: none;
}

.icy_list li{
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.icy_list li span{
  display: flex;
  margin-left: 20px;
  border-radius: 10px;
  overflow: hidden;
  min-width: 50px;
  width: 50px;
}

.icy_list li span img{
  min-width: 50px;
  width: 50px;
}

.icy_list li a{
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
}

.icy_list li:hover{
  margin-left: 20px;
}

/*ICYVEINS*/